<%- include('head') -%>

      <div class="row first-row  side-border">

                 <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 ">
                    &nbsp;
                 </div>

                 <div class="col-8 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 content">
                      <h2>Events</h2>
                      <p>
                        I occasionally do things
                      </p>
                </div>

                 <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2  ">
                                &nbsp;
                 </div>
      </div>
    <%- include('foot') -%>
