<div class="row footer-row">
   <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
      <div class="square" ></div>
   </div>
   <div class="col-2 col-xs-3  col-sm-3 col-md-3 col-lg-2 col-xl-2 panel gray">
      <div class="square" ></div>
   </div>
   <div class="col-2 col-xs-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel gray">
      <div class="square" > </div>
   </div>
   <div class="col-2 col-xs-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel gray">
      <div class="square" > </div>
   </div>
   <div class="col-2 col-xs-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel gray">
      <div class="square" > </div>
   </div>
   <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
      <div class="square" > </div>
   </div>
</div>
</div>
<script src="js/scripts.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script src="//unpkg.com/popper.js@1.14.3/dist/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
