<div class="row footer-row">
   <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
      <div class="square" > &nbsp; </div>
   </div>
   <div class="col-2 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 panel">
      <footer class="container-fluid">

         <div class="row footer-header-row">

         </div>

         <div class="row footer-info-row">
            <div class="col-md-4 col-sm-4 footer-address-block">
               <address>
                  <h4>Stephen A. Bayer</h4>
                  410 Santa Clara Ave, Apt G<br />
                  Alameda CA 94501<br />
                  415*369*7888
               </address>
            </div>
            <div class="col-md-8 col-sm-8 footer-link-block">
               <h3>
                  A poly-glot, multi-stack engineer writing quality software - front and back
               </h3>
               <p>
                  <a href="/"><i class="fa fa-home"></i>&nbsp; Home</a>
                  &nbsp; &nbsp; &nbsp; <i class="fa fa-minus-circle"></i> &nbsp; &nbsp; &nbsp;
                  <a href="/about"><i class="fa fa-info-circle"></i>&nbsp; About</a>
                  &nbsp; &nbsp; &nbsp; <i class="fa fa-minus-circle"></i> &nbsp; &nbsp; &nbsp;
                 <a href="/contact"><i class="fa fa-envelope-square"></i>&nbsp; Contact</a>
                  &nbsp; &nbsp; &nbsp; <i class="fa fa-minus-circle"></i> &nbsp; &nbsp; &nbsp;
                  <a href="/sitemap"><i class="fa fa-map"></i>&nbsp; Site Map</a>
               </p>
            </div>
         </div>

         <div class="row copyright-row">
            <div class="col-sm-6 col-md-6 copy-col">
               Original Work &copy; 2018 Stephen A. Bayer
               <br />
               <a href="mailto:stephen@stephenbayer.com"><i class="fa fa-envelope"></i> stephen@stephenbayer.com</a>
            </div>
            <div class="col-sm-6 col-md-6 sm-col">
               <a href="https://www.facebook.com/sabayer"><i class="fa fa-facebook"></i> sabayer</a>
               &nbsp;&nbsp;
               <a href="https://twitter.com/stephenbayer"><i class="fa fa-twitter"></i> stephenbayer</a>
               &nbsp;&nbsp;
               <a href="https://www.linkedin.com/in/stephenabayer/"><i class="fa fa-linkedin"></i> stephenabayer</a>
               <br />
               <a href="https://www.instagram.com/bayercsk/"><i class="fa fa-instagram"></i> bayercsk</a>
               &nbsp;&nbsp;
               <a href="https://github.com/stephenbayer"><i class="fa fa-github"></i> stephenbayer</a>
               &nbsp;&nbsp;
               <a href="https://www.youtube.com/user/bayercs2k"><i class="fa fa-youtube"></i> bayercs2k</a>
            </div>
         </div>
      </footer>
   </div>
   <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
      <div class="square" > &nbsp; </div>
   </div>
</div>
</div>
<script src="js/scripts.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script src="//unpkg.com/popper.js@1.14.3/dist/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
