<%- include('head') -%>
    <div class="row first-row">
        <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" >
            </div>
        </div>

        <div class="col-2 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 panel gray">
            <h1 class="jumbo-tron" style="vertical-align: middle; text-align: center; padding-top: 24px;margin-top: 20px;height: 130px;padding-bottom: 24px;">
                Developing Excellence
            </h1>
        </div>


        <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" > </div>
        </div>
    </div>
      <div class="row second-row">
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" >
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel yellow">
            <div class="square" >
               <a href="/about" class="panel-nav">
                   <img src="img/stephenbayer_profile.jpg" />
                    <span>About</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel blue">
            <div class="square" >
               <a href="/skills" class="panel-nav">
               <img src="img/atom-edit.png" />
               <span>Skills</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel green">
            <div class="square" >
               <a href="/portfolio" class="panel-nav">
               <img src="img/turtles.png" />
               <span>Portfolio</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel yellow">
            <div class="square" >
               <a href="/blog" class="panel-nav">
                  <img src="img/home_key.jpg" />
                  <span>Blog</span>
               </a>
            </div>
         </div>
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" > </div>
         </div>
      </div>
      <div class="row third-row">
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" ></div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel blue">
            <div class="square" >
               <a href="/photos" class="panel-nav">
                  <img src="img/catcon.png" />
                  <span>Events</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel green">
            <div class="square" >
               <a href="/photos" class="panel-nav">
                  <img src="img/camera.jpg" />
                  <span>Photos</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel yellow">
            <div class="square" >
               <a href="/interests" class="panel-nav">
               <img src="img/jerry_screams.png" />
               <span>Interests</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel blue">
            <div class="square" >
                <a href="/contact" class="panel-nav front">
                    <img src="img/mailbox.png" />
                    <span>Contact</span>
                </a>
            </div>
         </div>
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" > </div>
         </div>
      </div>

    <%- include('foot') -%>
