<%- include('head') -%>

      <div class="row first-row">
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" >
<<<<<<< HEAD
            <a href="#" class="panel-nav">
              <img src="img/stephenbayer_profile.jpg" />
              About Me
            </a>
=======
>>>>>>> f27ecebe6204b90efa7a5da7c175bd24736ea591
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel yellow">
            <div class="square" >
               <a href="/about" class="panel-nav">
               <img src="img/stephen-panel.png" />
               <span>About<span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel blue">
            <div class="square" >
               <a href="/skills" class="panel-nav">
               <img src="img/atom-edit.png" />
               <span>Skills</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel orange">
            <div class="square" >
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel green">
            <div class="square" >
               <a href="/portfolio" class="panel-nav">
               <img src="img/turtles.png" />
               <span>Portfolio</span>
               </a>
            </div>
         </div>
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" > </div>
         </div>
      </div>
      <div class="row second-row">
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" ></div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel blue">
            <div class="square" >
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel orange">
            <div class="square" >
               <a href="/blog" class="panel-nav">
               <img src="img/home_key.jpg" />
               <span>Blog</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel green">
            <div class="square" >
               <a href="/interests" class="panel-nav">
               <img src="img/jerry_screams.png" />
               <span>Interests</span>
               </a>
            </div>
         </div>
         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel yellow">
            <div class="square" >
            </div>
         </div>
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" > </div>
         </div>
      </div>
      <div class="row third-row">

         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" >
            </div>
         </div>

         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel orange">
            <div class="square" >
               <a href="/photos" class="panel-nav">
               <img src="img/camera.jpg" />
               <span>Photos</span>
               </a>
            </div>
         </div>

         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel green">
            <div class="square" >
            </div>
         </div>

         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel yellow">
            <div class="square" >
            </div>
         </div>

         <div class="col-2 col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel blue">
            <div class="square  " >
               <a href="/contact" class="panel-nav front">
               <img src="img/mailbox.png" />
               <span>Contact</span>
               </a>
             </div>
         </div>
         <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
            <div class="square" > </div>
         </div>
      </div>
    <%- include('foot') -%>
