<%- include('head') -%>

      <div class="row first-row  side-border">

                 <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 ">
                    &nbsp;
                 </div>

                 <div class="col-8 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 content">
          <h2>Interests</h2>
          <p>
            I'm only human, flesh and blood, born to make mistakes.
          </p>
          <p>
            Also, I am human and I need to be loved.
          </p>
                 </div>

                 <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2  ">
                                &nbsp;
                 </div>
      </div>
    <%- include('foot') -%>
