<%- include('head') -%>


<div class="row first-row  side-border">

    <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 "> </div>

    <div class="col-8 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 content">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Site Map</li>
            </ol>
        </nav>

        <p>
            All the things.
        </p>
    </div>
    <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2  "> </div>
</div>
<%- include('foot') -%>