<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Stephen A. Bayer :: <%= title %></title>
      <meta name="description" content="Stephen A. Bayer">
      <meta name="author" content="sabayer@gmail.com">
      <meta name="google-site-verification" content="XV-IUSj2MKurF_f9Xr0sQJOzjBzMWrzqGwv5k-VELy8" />
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" href="css/styles.css?v=1.0">
      <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="size-overlay" style="display: none;">
         <h1 class="hidden-sm hidden-xs hidden-md hidden-lg visible-xlg">Extra Large</h1>
         <h1 class="hidden-sm hidden-xs hidden-md visible-lg">Large</h1>
         <h1 class="hidden-sm hidden-xs visible-md hidden-lg">Medium</h1>
         <h1 class="visible-sm hidden-xs hidden-md hidden-lg">Small</h1>
         <h1 class="hidden-sm hidden-xs hidden-md hidden-lg">Extra Small</h1>
      </div>
      <div class="container main">
         <a href="/" class="subhead" style="z-index: 10;">
            <div class="row header-row">
               <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
                  <div class="square" ></div>
               </div>
               <div class="col-2 col-xs-3  col-sm-3 col-md-3 col-lg-2 col-xl-2 panel gray">
                  <div class="square" ></div>
                  <img src="img/stephen_300x300.jpg" class="img-square img-logo hidden-xs" />
               </div>
               <div class="col-2 col-xs-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel gray">
                  <div class="square" > </div>
                  <img src="img/stephen.a.bayer.text.png" class="img-square-3 hidden-xs logo-text-img" />
                  <img src="img/stephen.a.bayer.text.png" style="left: -42%;" class="img-square-3 visible-xs logo-text-img" />
               </div>
               <div class="col-2 col-xs-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel gray">
                  <div class="square" > </div>
               </div>
               <div class="col-2 col-xs-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 panel gray">
                  <div class="square" > </div>
               </div>
               <div class="col-2 hidden-xs hidden-sm hidden-md col-lg-2 col-xl-2 panel disabled">
                  <div class="square" > </div>
               </div>
            </div>
      </a>
